@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

.tela-login
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #D5BC01;
    z-index: 100;

    .frm-login
    {
        position: relative;
        
        .circle
        {
            position: absolute;
            top: -50px;
            width: 130px;
            height: 130px;
            background: #D5BC01;
            color: #fff;
            box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            border: #fff solid 10px;
        }
    }

    h2 
    {
        position: relative;
        top: -100px;
        margin-top: 50px;
        margin-bottom: 30px;
        /* width: 173px; */
        /* height: 33px; */
        font-family: "Roboto";
        font-style: normal;
        font-weight: 800;
        font-size: 5rem;
        line-height: 136.02%;
        letter-spacing: 0.07em;
        color: #D5BC01;
        text-shadow: 0px 4px 4px #d5bc01;
    }

    .frm-login
    {
        width: 65%;
        height: 75%;
        background: #FFFFFF;
        box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .inputbox 
    {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        top: -60px;
        gap: 10px;
    }

    .inputbox input
    {
        width: 100%;
        padding: 15px;
        border: solid 1px rgba(255, 196, 0,0.25);
        border-radius: 8px;
        outline: none;
        font-size: 2.4rem;
    }

    .inputbox span 
    {
        position: absolute;
        left: 35px;
        pointer-events: none;
        font-size: 3rem;
        text-transform: uppercase;
        color: rgba(255, 196, 0, 0.5);
        transition: 0.5s;
    }

    .inputbox input:valid ~ span,
    .inputbox input:focus ~ span 
    {
        color: #D5BC01;
        transform: translateX(2px) translateY(-30px);
        font-size: 1.6rem;
        background: #FFFFFF;
        padding: 2px 3px;
        border-left: 1px solid #D5BC01;
        border-right: 1px solid #D5BC01;
    }

    .inputbox input:valid,
    .inputbox input:focus 
    {
        border: solid 1px #D5BC01;
        color: #c79903;
        box-shadow: 0px 11px 5px rgba(255, 196, 0, 0.24);
    }

    button 
    {
        width: 120px;
        height: 50px;
        background: #D5BC01;
        box-shadow: 0px 4px 4px #D5BC01;
        border-radius: 8px;
        border: none;
        color: #FFFFFF;
        font-size: 2rem;
        font-weight: 500;

        &:nth-child(2)
        {
            margin-left: 25px;
        }

        &:hover
        {
            color: #D5BC01;
            background: #FFFFFF;
        }
    }
}

@media (max-width:420px) {
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

.tela-login
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: #D5BC01;
        z-index: 100;

        .frm-login
        {
            position: absolute;
            
            .circle
            {
                position: absolute;
                top: -50px;
                width: 130px;
                height: 130px;
                background: #D5BC01;
                color: #fff;
                box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                border: #fff solid 10px;
            }
        }

        h2 
        {
            position: absolute;
            top: 50px;
            margin-top: 50px;
            margin-bottom: 30px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 800;
            font-size: 3.5rem;
            line-height: 136.02%;
            letter-spacing: 0.07em;
            color: #D5BC01;
            text-shadow: 0px 4px 4px #d5bc01;
        }

        .frm-login
        {
            position: absolute;
            width: 85%;
            min-height: 620px;
            max-height: 620px;
            background: #FFFFFF;
            box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        .inputbox 
        {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
            top: 60px;
            gap: 10px;
        }

        .inputbox input
        {
            width: 85%;
            padding: 15px;
            border: solid 1px rgba(255, 196, 0,0.25);
            border-radius: 8px;
            outline: none;
            font-size: 2.4rem;
        }

        .inputbox span 
        {
            position: absolute;
            left: 35px;
            pointer-events: none;
            font-size: 2rem;
            text-transform: uppercase;
            color: rgba(255, 196, 0, 0.5);
            transition: 0.5s;
        }

        .inputbox input:valid ~ span,
        .inputbox input:focus ~ span 
        {
            color: #D5BC01;
            transform: translateX(2px) translateY(-30px);
            font-size: 1.6rem;
            background: #FFFFFF;
            padding: 2px 3px;
            border-left: 1px solid #D5BC01;
            border-right: 1px solid #D5BC01;
        }

        .inputbox input:valid,
        .inputbox input:focus 
        {
            border: solid 1px #D5BC01;
            color: #c79903;
            box-shadow: 0px 11px 5px rgba(255, 196, 0, 0.24);
        }

        .button-login
        {
            position: absolute;
            bottom: 50px;

            button 
            {
                width: 120px;
                height: 50px;
                background: #D5BC01;
                box-shadow: 0px 4px 4px #D5BC01;
                border-radius: 8px;
                border: none;
                color: #FFFFFF;
                font-size: 2rem;
                font-weight: 500;
    
                &:hover
                {
                    color: #D5BC01;
                    background: #FFFFFF;
                }
            }
        }
    }
}

@media (max-width:320px) {
    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

.tela-login
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: #D5BC01;
        z-index: 100;

        .frm-login
        {
            position: absolute;
            
            .circle
            {
                position: absolute;
                top: -50px;
                width: 130px;
                height: 130px;
                background: #D5BC01;
                color: #fff;
                box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                border: #fff solid 10px;
            }
        }

        h2 
        {
            position: absolute;
            top: 50px;
            margin-top: 50px;
            margin-bottom: 30px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 800;
            font-size: 2.5rem;
            line-height: 136.02%;
            letter-spacing: 0.07em;
            color: #D5BC01;
            text-shadow: 0px 4px 4px #d5bc01;
        }

        .frm-login
        {
            position: absolute;
            width: 85%;
            height: 20%;
            background: #FFFFFF;
            box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        .inputbox 
        {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
            top: 10px;
            gap: 10px;
        }

        .inputbox input
        {
            width: 80%;
            padding: 10px;
            border: solid 1px rgba(255, 196, 0,0.25);
            border-radius: 8px;
            outline: none;
            font-size: 2.4rem;
        }

        .inputbox span 
        {
            position: absolute;
            left: 35px;
            pointer-events: none;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: rgba(255, 196, 0, 0.5);
            transition: 0.5s;
        }

        .inputbox input:valid ~ span,
        .inputbox input:focus ~ span 
        {
            color: #D5BC01;
            transform: translateX(2px) translateY(-30px);
            font-size: 1.1rem;
            background: #FFFFFF;
            padding: 2px 3px;
            border-left: 1px solid #D5BC01;
            border-right: 1px solid #D5BC01;
        }

        .inputbox input:valid,
        .inputbox input:focus 
        {
            border: solid 1px #D5BC01;
            color: #c79903;
            box-shadow: 0px 11px 5px rgba(255, 196, 0, 0.24);
        }

        .button-login
        {
            position: absolute;
            bottom: 50px;

            button 
            {
                width: 110px;
                height: 35px;
                background: #D5BC01;
                box-shadow: 0px 4px 4px #D5BC01;
                border-radius: 8px;
                border: none;
                color: #FFFFFF;
                font-size: 1.5rem;
                font-weight: 500;
    
                &:hover
                {
                    color: #D5BC01;
                    background: #FFFFFF;
                }
            }
        }
    }
}