.card 
{
    position: relative;
    width: 200px;
    height: 320px;
    border-radius: 15px;
    // overflow: hidden;
    transform: perspective(320px) rotateY(0deg);
    filter: drop-shadow(0px 4px 7px rgba(255, 255, 255, 0.47));
    
    .face 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 320px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s ease-in-out;
        backface-visibility: hidden;
    }

    .face.face1
    {
        overflow: hidden;
        
        img 
        {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
            z-index: -100;
        }
    }

    .face.face1::before
    {
        content: attr(data-text);
        position: absolute;
        top: 210px;
        width: 95%;
        padding: 3px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 136.02%;
        text-align: center;
        letter-spacing: 0.24em;
        color: #FFFFFF;
        text-shadow: 0px 5.94872px 5.94872px rgba(230, 0, 0, 0.54);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(13px);
        border-radius: 15px;

    }

    &:hover .face.face1 
    {
        transform: perspective(320px) rotateY(180deg);
    }

    .face.face2 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        background: #fff;
        flex-direction: column;
        overflow: scroll;
        transform: perspective(320px) rotateY(180deg);
        visibility: hidden;

        .card-title 
        {
            position: absolute;
            top: 0;
            display: flex;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 136%;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
            align-content: center;
            justify-content: center;
            
            h3 
            {
                padding-top: 7px;
                width: 213px;
                height: 34px;
                background: #FFC400;
                color: #fff;
                font-weight: 800;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
            }
        }
    }
    
    &:hover .face.face2 
    {
        transform: perspective(320px) rotateY(360deg);
        transform: scaleZ(1000);
        visibility: initial;
    }
}

.itemcard 
{
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

@media (max-width:420px){
    .card 
    {
        position: relative;
        width: 190px;
        height: 320px;
        border-radius: 15px;
        // overflow: hidden;
        transform: perspective(320px) rotateY(0deg);
        filter: drop-shadow(0px 4px 7px rgba(255, 255, 255, 0.47));
        
        .face 
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 190px;
            height: 320px;
            transform-style: preserve-3d;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.8s ease-in-out;
            backface-visibility: hidden;
        }

        .face.face1
        {
            overflow: hidden;
            
            img 
            {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
                z-index: -100;
            }
        }

        .face.face1::before
        {
            content: attr(data-text);
            position: absolute;
            top: 210px;
            width: 95%;
            padding: 3px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 136.02%;
            text-align: center;
            letter-spacing: 0.24em;
            color: #FFFFFF;
            text-shadow: 0px 5.94872px 5.94872px rgba(230, 0, 0, 0.54);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(13px);
            border-radius: 15px;

        }

        &:hover .face.face1 
        {
            transform: perspective(320px) rotateY(180deg);
        }

        .face.face2 
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            background: #fff;
            flex-direction: column;
            overflow: scroll;
            transform: perspective(320px) rotateY(180deg);
            visibility: hidden;

            .card-title 
            {
                position: absolute;
                top: 0;
                display: flex;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 1.3rem;
                line-height: 136%;
                text-align: center;
                letter-spacing: 0.07em;
                text-transform: uppercase;
                margin-top: 10px;
                margin-bottom: 10px;
                align-items: center;
                align-content: center;
                justify-content: center;
                
                h3 
                {
                    padding-top: 7px;
                    width: 213px;
                    height: 34px;
                    background: #FFC400;
                    color: #fff;
                    font-weight: 800;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 6px;
                }
            }
        }
        
        &:hover .face.face2 
        {
            transform: perspective(320px) rotateY(360deg);
            transform: scaleZ(1000);
            visibility: initial;
        }
    }

    .itemcard 
    {
        width: 100%;
        height: 100%;
        padding-top: 60px;
    }
}

@media (max-width:390px) {
    .card 
{
    position: relative;
    width: 190px;
    height: 320px;
    border-radius: 15px;
    // overflow: hidden;
    transform: perspective(320px) rotateY(0deg);
    filter: drop-shadow(0px 4px 7px rgba(255, 255, 255, 0.47));
    
    .face 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 320px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s ease-in-out;
        backface-visibility: hidden;
    }

    .face.face1
    {
        overflow: hidden;
        
        img 
        {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
            z-index: -100;
        }
    }

    .face.face1::before
    {
        content: attr(data-text);
        position: absolute;
        top: 210px;
        width: 95%;
        padding: 3px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 136.02%;
        text-align: center;
        letter-spacing: 0.24em;
        color: #FFFFFF;
        text-shadow: 0px 5.94872px 5.94872px rgba(230, 0, 0, 0.54);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(13px);
        border-radius: 15px;

    }

    &:hover .face.face1 
    {
        transform: perspective(320px) rotateY(180deg);
    }

    .face.face2 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        background: #fff;
        flex-direction: column;
        overflow: scroll;
        transform: perspective(320px) rotateY(180deg);
        visibility: hidden;

        .card-title 
        {
            position: absolute;
            top: 0;
            display: flex;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 136%;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
            align-content: center;
            justify-content: center;
            
            h3 
            {
                padding-top: 7px;
                width: 213px;
                height: 34px;
                background: #FFC400;
                color: #fff;
                font-weight: 800;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
            }
        }
    }
    
    &:hover .face.face2 
    {
        transform: perspective(320px) rotateY(360deg);
        transform: scaleZ(1000);
        visibility: initial;
    }
}
    
}

@media (max-width:350px) {
    .card 
    {
    position: relative;
    width: 190px;
    height: 320px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    transform: perspective(320px) rotateY(0deg);
    filter: drop-shadow(0px 4px 7px rgba(255, 255, 255, 0.47));
    
    .face 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 320px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s ease-in-out;
        backface-visibility: hidden;
    }

    .face.face1
    {
        overflow: hidden;
        
        img 
        {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
            z-index: -100;
        }
    }

    .face.face1::before
    {
        content: attr(data-text);
        position: absolute;
        top: 210px;
        width: 95%;
        padding: 3px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 136.02%;
        text-align: center;
        letter-spacing: 0.24em;
        color: #FFFFFF;
        text-shadow: 0px 5.94872px 5.94872px rgba(230, 0, 0, 0.54);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(13px);
        border-radius: 15px;

    }

    &:hover .face.face1 
    {
        transform: perspective(320px) rotateY(180deg);
    }

    .face.face2 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        background: #fff;
        flex-direction: column;
        overflow: scroll;
        transform: perspective(320px) rotateY(180deg);
        visibility: hidden;

        .card-title 
        {
            position: absolute;
            top: 0;
            display: flex;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 136%;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
            align-content: center;
            justify-content: center;
            
            h3 
            {
                padding-top: 7px;
                width: 213px;
                height: 34px;
                background: #FFC400;
                color: #fff;
                font-weight: 800;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
            }
        }
    }
    
    &:hover .face.face2 
    {
        transform: perspective(320px) rotateY(360deg);
        transform: scaleZ(1000);
        visibility: initial;
    }
}
    
}

@media (max-width:330px) {
    .card 
    {
    position: relative;
    width: 190px;
    height: 320px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    transform: perspective(320px) rotateY(0deg);
    filter: drop-shadow(0px 4px 7px rgba(255, 255, 255, 0.47));
    
    .face 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 320px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s ease-in-out;
        backface-visibility: hidden;
    }

    .face.face1
    {
        overflow: hidden;
        
        img 
        {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
            z-index: -100;
        }
    }

    .face.face1::before
    {
        content: attr(data-text);
        position: absolute;
        top: 210px;
        width: 95%;
        padding: 3px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 136.02%;
        text-align: center;
        letter-spacing: 0.24em;
        color: #FFFFFF;
        text-shadow: 0px 5.94872px 5.94872px rgba(230, 0, 0, 0.54);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(13px);
        border-radius: 15px;

    }

    &:hover .face.face1 
    {
        transform: perspective(320px) rotateY(180deg);
    }

    .face.face2 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        background: #fff;
        flex-direction: column;
        overflow: scroll;
        transform: perspective(320px) rotateY(180deg);
        visibility: hidden;

        .card-title 
        {
            position: absolute;
            top: 0;
            display: flex;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 136%;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
            align-content: center;
            justify-content: center;
            
            h3 
            {
                padding-top: 7px;
                width: 213px;
                height: 34px;
                background: #FFC400;
                color: #fff;
                font-weight: 800;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
            }
        }
    }
    
    &:hover .face.face2 
    {
        transform: perspective(320px) rotateY(360deg);
        transform: scaleZ(1000);
        visibility: initial;
    }
}
    
}