.tela-pedido
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-pedido
{
    position: relative;
    background: #fff;
    width: 95%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

    h3 
    {
        width: 60%;
        height: 5%;
        font-size: 2.3rem;
        background: #D5BC01;
        border-radius: 8px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        padding-top: 5px;
        font-weight: 600;
    }

    .close-tela-pedido
    {
        &::before
        {
            position: absolute;
            top: 3%;
            right: 3%;
            content: '';
            width: 30px;
            height: 3px;
            background: #D5BC01;
            transform: translateY(-10px);
            transition: 0.5s;
        }

        &::after
        {
            position: absolute;
            top: 3%;
            right: 3%;
            content: '';
            width: 30px;
            height: 3px;
            background: #D5BC01;
            transform: translateY(10px);
            transition: 0.5s;
            box-shadow: 0 -10px #D5BC01;
        }


        &::before
        {
            transform: translateY(0px) rotate(45deg);
        }

        &::after
        {
            transform: translateY(0px) rotate(-45deg);
            box-shadow: 0 0px #D5BC01;
        }
    }

.drink-face2::after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 0px;
    left: 20px;
    border: 1px dashed #D5BC01;
}
    
    .dados-client
    {
        position: relative;
        width: 95%;
        height: 10%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        border-radius: 8px;
        border: solid 1px #D5BC01;
        background: rgba(255, 196, 0, 0.19);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

        span 
        {
            font-size: 2.2rem;
        }

        .client
        {
            position: absolute;
            top: 10px;
            left: 30px;
        }
        
        .name-client
        {
            position: absolute;
            top: 10px;
            left: 110px;
        }

        .table 
        {
            position: absolute;
            top: 40px;
            left: 45px;
        }


        .table-number
        {
            position: absolute;
            top: 40px;
            left: 110px;
        }
    }

    .content-items{
        position: relative;
        width: 95%;
        height: auto;
        min-height: 360px;
        max-height: 360px;
        align-items: center;
        border-radius: 8px;
        border: solid 1px #D5BC01;
        background: #D5BC0130;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: scroll;

        div
        {
            position: relative;
            height: 50px;
            display: flex;
            padding: 0 1px;
        }

        img 
        {
            display: none;
        }


        .price-item
        {
            position: absolute;
            width: auto;
            height: auto;
            overflow: hidden;
            margin-top: -1px;
            right: 15px;

            &::after
            {
                position: relative;
            }
        }

        .qtd 
        {
            position: absolute;
            font-size: 3.5rem;
            right: 182px;
            top: 4px;
        }
        .name-item
        {
            position: absolute;
            width: 75%;
            height: 30px;
            overflow: hidden;
            margin-top: 5px;
            left: 0;
        }

        .button-trash
        {
            height: 40px;
        }

        p
        {
            position: absolute;
            margin-top: 25px;
            right: 35px;
        }
    }

    .total-payment 
    {
        position: relative;
        display: flex;
        width: 95%;
        height: 10%;
        align-items: center;
        justify-content: center;
        

        span:nth-child(1)
        {
            position: relative;
            left: 25px;
            font-size: 3.5rem;
        }

        .cash-to-pay
        {
            position: relative;
            left: 35px;
            font-weight: 800;
            font-size: 3.5rem;
            margin-left: 10px;
        }

        button 
        {
            position: relative;
            bottom: -70px;
            left: -210px;
            width: 130px;
            height: 40px;
            padding: 7px 5px;
            border: none;
            color: #fff;
            font-size: 1.5rem;
            background: #D5BC01;
            border-radius: 5px;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

            &:hover
            {
                background: #755F17;
            }
        }
    }
}

@media (max-width: 420px){
    .tela-pedido
    {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-pedido
    {
        position: relative;
        background: #fff;
        width: 95%;
        height: 100vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        margin-bottom: 20px;
        align-items: center;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

        h3 
        {
            width: 60%;
            height: 5%;
            background: #D5BC01;
            border-radius: 8px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            padding-top: 1px;
            font-weight: 600;
        }

    .drink-face2::after {
        content: "";
        position: absolute;
        bottom: -20px;
        width: 90%;
        height: 0px;
        border: 1px dashed #D5BC01;
    }
        
        .dados-client
        {
            position: relative;
            width: 95%;
            height: 10%;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            border-radius: 8px;
            border: solid 1px #D5BC01;
            background: rgba(255, 196, 0, 0.19);
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

            span 
            {
                font-size: 1.8rem;
            }

            .client
            {
                position: absolute;
                top: 5px;
                left: 30px;
            }

            .name-item
            {
                position: absolute;
                top: 5px;
                left: 110px;
                font-weight: 700;
            }
            .table
            {
                position: absolute;
                top: 35px;
                left: 45px;

            }
            .table-number
            {
                position: absolute;
                top: 35px;
                left: 110px;
                font-weight: 700;
            }
        }

        .content-items{
            position: relative;
            width: 95%;
            height: auto;
            min-height: 360px;
            max-height: 360px;
            align-items: center;
            border-radius: 8px;
            border: solid 1px #D5BC01;
            background: #D5BC0130;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            overflow: scroll;

            div
            {
                position: relative;
                height: 35px;
                display: flex;
                padding: 0 1px;
            }

            img 
            {
                display: none;
            }

            .price-item
            {
                position: absolute;
                width: 60px;
                height: 30px;
                overflow: hidden;
                margin-top: 50px;
                left: 260px;

                &::after
                {
                    position: relative;
                }
            }

            .name-item
            {
                position: absolute;
                width: 60%;
                height: 20px;
                overflow: hidden;
                margin-top: 40px;
                left: -10px;
                overflow: hidden;
            }

            .qtd
            {
                position: absolute;
                font-size: 2.5rem;
                right: 100px;
                top: 21px;
            }

            p
            {
                position: absolute;
                margin-top: 25px;
                right: 35px;
            }

            .button-trash
            {
                position: absolute;
                right: 5px;
                top: 25px;
                height: 30px;
                width: 30px;
            }
        }

        .total-payment 
        {
            position: relative;
            display: flex;
            width: 95%;
            height: 10%;
            align-items: center;
            justify-content: center;
            

            span:nth-child(1)
            {
                position: relative;
                left: 35px;
                width: 200px;
                font-size: 1.5rem;
            }

            .name-item
            {
                position: relative;
                left: 70px;
                font-weight: 800;
                font-size: 3rem;
                margin-left: 10px;
            }

            button 
            {
                position: relative;
                bottom: -60px;
                left: -110px;
                width: 220px;
                height: auto;
                padding: 9px 8px;
                border: none;
                color: #fff;
                font-size: 1.2rem;
                padding-top: 8px;
                background: #D5BC01;
                border-radius: 5px;
                box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

                &:hover
                {
                    background: #755F17;
                }
            }
        }
    }

}

@media (max-width: 399px){
    .tela-pedido
    {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-pedido
    {
        position: relative;
        background: #fff;
        width: 95%;
        height: 100vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        margin-bottom: 20px;
        align-items: center;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

        h3 
        {
            width: 60%;
            height: 8%;
            background: #D5BC01;
            border-radius: 8px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            padding-top: 1px;
            font-weight: 600;
        }

    .drink-face2::after {
        content: "";
        position: absolute;
        bottom: 3px;
        width: 90%;
        height: 0px;
        border: 1px dashed #D5BC01;
    }
        
        .dados-client
        {
            position: relative;
            width: 95%;
            height: 10%;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            border-radius: 8px;
            border: solid 1px #D5BC01;
            background: rgba(255, 196, 0, 0.19);
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

            span 
            {
                font-size: 1.5rem;
            }

            .client
            {
                position: absolute;
                top: 10px;
                left: 30px;
            }
            .name-client
            {
                position: absolute;
                top: 10px;
                left: 95px;
            }

            .name-item
            {
                position: absolute;
                top: 10px;
                left: 110px;
                font-weight: 700;
            }
            .table
            {
                position: absolute;
                top: 10px;
                left: 170px;

            }
            .table-number
            {
                position: absolute;
                top: 10px;
                left: 230px;
            }
        }

        .content-items{
            position: relative;
            width: 95%;
            height: auto;
            min-height: 220px;
            max-height: 220px;
            align-items: center;
            border-radius: 8px;
            border: solid 1px #D5BC01;
            background: #D5BC0130;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            overflow: scroll;

            div
            {
                position: relative;
                height: 35px;
                display: flex;
                padding: 0 1px;
            }

            img 
            {
                display: none;
            }

            .name-item
            {
                position: absolute;
                width: 60%;
                height: 20px;
                margin-top: 10px;
                left: -10px;
                overflow: hidden;
            }

            .price-item
            {
                position: absolute;
                width: 60px;
                height: 30px;
                overflow: hidden;
                margin-top: 15px;
                left: 75%;
            }

            p
            {
                position: absolute;
                margin-top: 25px;
                right: 35px;
            }

            .button-trash
            {
                position: absolute;
                right: 5px;
                top: 5px;
                height: 25px;
                width: 25px;
            }

            .qtd
            {
                position: absolute;
                right: 30%;
                top: 10px;
                font-size: 1.5rem;
            }
        

        }

        .total-payment 
        {
            position: relative;
            display: flex;
            width: 95%;
            height: 10%;
            align-items: center;
            justify-content: center;
            

            .total-to-pay
            {
                position: relative;
                left: 20px;
                width: 350px;
                font-size: 1.5rem;
            }

            .cash-to-pay
            {
                position: relative;
                left: 70px;
                font-weight: 800;
                font-size: 2.6rem;
                margin-left: 10px;
            }

            button 
            {
                position: relative;
                bottom: -50px;
                left: -90px;
                width: 230px;
                height: auto;
                padding: 9px 8px;
                border: none;
                color: #fff;
                font-size: 1rem;
                padding-top: 8px;
                background: #D5BC01;
                border-radius: 5px;
                box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

                &:hover
                {
                    background: #755F17;
                }
            }
        }
    }

}